@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}

body {
  width: 100%;
  height: auto;
}

.btns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.viewDetailBtn {
  border: none;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 3px;
  color: #000000;
  cursor: pointer;
  border: 1px solid #2e7d32;
  transition: all 0.3s;
  background: transparent;
}

.viewDetailBtn:hover {
  background: #2e7d32;
  color: #ffffff;
}

.addToCartBtn {
  background: #29922e;
  border: none;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 3px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}

.addToCartBtn:hover {
  background: #2e7d32;
}

.container {
  padding: 40px 40px;
}

.box-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product-box {
  width: 300px !important;
  margin-top: 10px !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
  padding: 10px !important;
}

.product-card-img img {
  height: 200px;
  width: 100%;
  object-fit: contain;
}